* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */

}

table {
  width: 100%;
  height: 40px;
  background-color: #e42529;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: Roboto, "system-ui", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid hsla(0, 0%, 100%, .3);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

th {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  ;

}


i {
  padding: 10px;
  width: 20px;

}

.search {
  width: 100%;
  height: 70px;
  background-color: #e42529;
}

.logo img {
  width: 130%;
}

/* search bar  */
#f {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.searchbtn i {
  margin-top: -29px;
  padding: 2px;
  margin-left: 500px;
  color: grey;
}

.box {
  margin-left: 60px;
  margin-top: 5px;
  position: absolute;
  top: 8%;
  left: 20%;
  background: white;
  width: 500px;
  height: 8px;
  padding: 15px;
  border-radius: 70px;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid orange; */
}

#input {
  width: 670px;
  height: 25px;
  font-size: 15px;
  border: none;
  outline: none;
  /* border: 2px solid orange; */
}

.searchbtn {
  margin-left: -500px;

}

#input[type='text'] {
  margin-top: -10px;

}

.search {
  display: flex;
  justify-content: space-around;
}

/* right navigation  */
.rightnav {
  width: 800px;
  display: flex;
  text-align: right;
  /* border: 2px solid blue; */

}

.rightnav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 14px;
  font-family: Roboto, "system-ui", sans-serif;
  font-weight: 400;
  margin-left: 80px;
  margin-top: 10px;
  /* border: 3px solid black; */

}

.rightnav li a {
  margin-top: 8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.rightnav i {
  padding: 10px;
}


/* Navigation bar  */
.nav {
  width: 100%;
  background-color: #003380;
}

.nav .list {
  margin: auto;
  width: 98%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #003380;
  height: 40px;
  gap: 2px;
}

.nav .list div:hover {
  cursor: pointer;
  background-color: #e42529;
  border: 2px solid #e42529;

}

.list a {
  text-decoration: none;
}

.list div {

  list-style: none;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  font-family: Roboto, "system-ui", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 6px 0px;
}

.nav .list div i {
  padding: 6px;
}

/* Log in part goes here  */

.login-page {
  width: 100%;
  height: 400px;
  /* border: 3px solid red; */
}

.login-box {
  float: right;
  margin: 40px 40px;
  width: 30%;
  height: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 2px solid green; */
}

.login-box>h4 {
  font-family: sans-serif;
  background-color: rgb(249, 250, 253);
  color: rgb(0, 0, 0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 17px;
  padding: 16px 24px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.input-section input,
.button {
  margin-left: 20px;
}

.input-section>input[type='text'] {
  width: 368px;
  height: 40px;
  margin-top: 30px;
}

.button {
  margin-top: 30px;
  padding: 4px 149px;
  text-transform: uppercase;
  background-color: #e42529;
  border: none;
  color: white;
  font-family: inherit;
  cursor: pointer;
  line-height: 40px;
  font-weight: 900;
  font-size: 14px;
  border-radius: 3px;
  letter-spacing: 1px;
}

.button:hover {
  background-color: #d21518;
}


/* cart section  */
.cart-section {
  width: 100%;
  height: 100%;
  background-color: rgb(245, 247, 247);

}

.seperate {
  width: 95%;
  height: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid black; */

}

.cart {
  width: 65%;
  height: 100%;
  margin-bottom: 20px;
  /* border: 3px solid green; */

}

.cart-qty {
  width: 100%;
  height: 50px;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 10px;
}

.cart-qty h4 {
  margin-left: 10px;
  font-size: 16px;
  font-family: Roboto, "system-ui", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
}

.cart-qty i {
  color: black;
}

.cart-product {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  /* border: 2px solid red; */

}

.cart-product .watch-div {
  height: 360px;
  border: 2px solid red;
  margin-bottom: 30px;
  background-color: white;
  border: 2px solid #ddd;


}

.cart-product .watch-div img {
  width: 25%;
}

.title {
  width: 70%;
  margin-top: 20px;
  color: #1366e1;
  font-size: 14px;
  height: 3.6em;
  line-height: 1.5em;
  font-weight: 500;
  font-family: Roboto, "system-ui", sans-serif;
}

.price {
  margin-top: -35px;
  margin-bottom: 10px;
  font-family: Roboto, "system-ui", sans-serif;
  line-height: 1.4em;
  font-weight: 500;
  color: #000;
  font-size: 19px;
  margin-left: 60px;

}

button {
  padding: 9px 16px;
  border: none;
  margin-left: 20px;
  color: white;
  background-color: rgb(17, 90, 250);
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(23, 82, 209);

}

/* checkout section    */
.checkout-section {
  width: 30%;
  height: 80%;
  border-radius: 5px;
}

.btn>button {
  padding: 10px 146px;
  text-transform: uppercase;
  background-color: #d21518;
  color: white;
  font-size: 15px;
  font-weight: 550;
  letter-spacing: 0.9px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 0px;
  cursor: pointer;
}

.btn>button:hover {
  background-color: #e83538;

}

.checkout-detail {
  margin: auto;
  width: 100%;
  height: 350px;
  background-color: white;
  border: 2px solid #ddd;

}

input[type='text'] {
  width: 70%;
  height: 33px;
  margin-left: 19px;
  margin-top: 30px;
  /* border: 4px solid red; */
}

.apply-code {
  width: 20%;
  height: 11%;
  margin-left: -5px;
  background-color: transparent;
  border: 0.1px solid black;
  color: rgb(23, 116, 239);
  font-weight: 650;
  cursor: pointer;
  letter-spacing: 0.5px;
  border-left: 4px solid rgb(23, 116, 239);
  font-family: Roboto, "system-ui", sans-serif;
  text-transform: uppercase;
}

.apply-code:hover {
  background-color: transparent;
}

.hr {

  margin-top: 20px;
  width: 100%;
  margin-left: 0px;
}

#price-detail {
  margin-left: 20px;
  margin-top: 20px;
  width: 92%;
  height: 60%;
  /* border: 3px solid yellow; */
  display: flex;

}

#price-detail div:nth-child(1) {
  width: 50%;
  height: 80%;
  /* border: 2px solid green ; */
}

.rupee {
  width: 50%;
  height: 80%;
  margin-left: 100px;
  /* border: 2px solid green ; */
}

#hr {
  width: 210%;
  margin-left: -190px;
  margin-top: 2px;
}

#p {
  margin-left: 30px;

}

.ttl {
  margin-top: 10px;
}

#total {
  float: right;
}

span {
  color: black;
}

#price-detail div ul li {
  margin-top: 10px;
  list-style: none;
  color: #333;
  font-weight: 600;
  font-family: Roboto, "system-ui", sans-serif;
  font-size: 17px;
}

h6 {
  color: rgb(102, 102, 102);
  font-size: 13px;
  font-weight: 400;
  font-family: Roboto, "system-ui", sans-serif;
  line-height: 2;
}








/* footer part goes here  */

.footer-main {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #003380;
}

.footer-main div:nth-child(1) {
  width: 25%;
  height: 300px;
  /* border: 2px solid red; */
}

.footer-main div:nth-child(2) {
  width: 25%;
  height: 300px;
  /* border: 2px solid red; */
}

.footer-main div:nth-child(3) {
  width: 25%;
  height: 300px;
  /* border: 2px solid red; */
}

.footer-main div:nth-child(4) {
  width: 25%;
  height: 300px;
  /* border: 2px solid red; */
}

.footer-main div {
  margin: 20px;
}

.footer-main div ul li {

  color: white;
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
  font-family: Roboto, "system-ui", sans-serif;
  font-size: 16px;
  font-weight: 400;

}

.footer-main div ul li:hover {
  cursor: pointer;
  color: rgb(172, 167, 167);
}

#head {
  font-size: 18px;
  font-weight: bold;
}

.bottom-footer {
  width: 100%;
  height: 40px;
  display: flex;
  background-color: #003380;
}

.bottom-footer div:nth-child(1) {
  width: 25%;
  height: 40px;
  margin-left: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-family: Roboto, "system-ui", sans-serif;


}

.bottom-footer div:nth-child(2) {
  width: 50%;
  height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-family: Roboto, "system-ui", sans-serif;
}

.icon {
  width: 100%;
  height: 40px;
  background-color: #003380;
  display: flex;
  cursor: pointer;
}

.icon div:nth-child(1) {
  margin-left: 20px;
  width: 25%;
  height: 40px;
  margin-top: -10px;
  cursor: pointer;
}

.icon div:nth-child(2) {
  cursor: pointer;
  width: 40%;
  height: 40px;

}

i {
  color: white;
}

#app {
  display: flex;
  margin-left: 10px;
  gap: 10px;
}

#app div:nth-child(1) img {
  margin-left: -30px;
  width: 100%;
  height: 100%;
}

#app div:nth-child(2) img {
  margin-top: -10px;
  margin-left: -30px;
  width: 70%;
  height: 100%;
}

.btm-footer {
  width: 100%;
  height: 150px;
  background-color: #0a244a;
  font-family: Roboto, "system-ui", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.btm-footer a,
p {
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.para {
  width: 95%;
  margin: auto;
}