*{
 margin: 0;
 padding: 0;
 /* box-sizing: border-box; */

}
.top{
   
    width: 100%;
    height: 40px;
    display: flex;
    background-color: #e42529;
}
.top ul{
    display: flex;
    margin-left: 420px;
    justify-content: space-between;
    list-style: none;
    font-weight: 600;
    font-family:  Roboto,"system-ui",sans-serif;
    /* border: 2px solid black; */
    
}
.top li{
  
  padding: 5px;
  color: white;
  
}
.top li:hover{
  cursor: pointer;
}

.second{
  margin-left: 600px;
  font-size: 15px;
}
i{
  width: 20px;
  
}
span{
  margin-left: 5px;
  color: white;
  
}
.search{
  width: 100%;
  height: 70px;
  background-color: #e42529;
}
.logo img{
  width: 130%;
}

/* search bar  */
#f{
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.searchbtn i{
  margin-top: -29px;
  padding: 2px;
  margin-left: 500px;
}
.box{
  margin-left: 60px;
  position: absolute;
  top: 8%;
  left: 20%;
  background:white;
  width: 500px;
  height: 8px;
  padding: 15px;
  border-radius:70px ;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid orange; */
}

#input{
  width: 670px;
  height: 25px;
  font-size: 15px;
  border: none;
  outline: none;
  /* border: 2px solid orange; */
}
.searchbtn{
  margin-left: -500px;
  
}
#input[type='text']{
  margin-top: -10px;

}

.search{
  display: flex;
  justify-content: space-around;
}

/* right navigation  */
.rightnav{
  width: 800px;
  display: flex;
  text-align: right;
  /* border: 2px solid blue; */
 
}
.rightnav ul{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;

}
.rightnav li a{
margin-top: 8px;
color: white;
font-size: 15px;
font-family:  Roboto,"system-ui",sans-serif;
font-weight: 600;
text-decoration: none;
}
.rightnav li:hover{
cursor: pointer;
}
.rightnav i{
  padding: 10px;
}


/* Navigation bar  */
.nav{
  width: 100%;
  background-color: #003380;
}
.nav .list{
  margin: auto;
  width: 98%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #003380;
  height: 40px;
  gap: 2px;
}
.nav .list div:hover{
  cursor: pointer;
  background-color: #e42529;
  border: 2px solid #e42529;


}
.list div{
  
  list-style: none;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  font-family:  Roboto,"system-ui",sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 6px 0px;
}
.nav .list div i{
  padding: 6px;
}

/* Carousel slide  */

.container{
  width: 100%;
  height: auto;
}
.swiper{
  width: 100%;
  height: fit-content;
  /* border: 2px solid red; */
}

.swiper-slide img{
  width: 100%;

}

.swiper .swiper-button-prev,
.swiper .swiper-button-next{
  color: white;
}

.swiper .swiper-pagination-bullet-active{
  background: white;
}

/* entertainment fest  */

.enter{
  margin-top: 30px;
  height: 60px;
}
.enter h4, .smartwatch h4{
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 30px;
  color: #333;
  font-family: Roboto,"system-ui",sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.enter-img{
  margin: center;
  margin-bottom: 20px;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
}
.enter-img img{
  width: 300px;
}


/* great electronic offer  */
.great-elec{
  margin-top: 30px;
  height: 60px;
  width: 100%;
}

.great-elec h4{
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 30px;
  color: #333;
  font-family: Roboto,"system-ui",sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.great-img{
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 80px 30px;
}
.great-img img{
  width: 100%;
  height: 100%;

}
/* smartwatch section  */
.smartwatch{
  width: 100%;
  height: 400px;
  border: 2px solid red;
  margin-top: 10px;
}
.smartwatch a{
  font-size: 15px;
  text-decoration: none;
  color: blue;
  font-weight: 500;
}
.smartwatch a:hover{
  color: #e42529;
}
.smartwatch-container{
  width: auto;
  height: 350px;
  border: 2px solid black;
  display: flex;

}
.smartwatch-img{
  width: 23%;
  height: 300px;
  margin: 20px 10px;
  border: 2px solid green;
}
.smartwatch-img img{
  width: 100%;
  height: 100%;
}




/* footer part goes here  */

.footer-main{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #003380;
}

.footer-main div:nth-child(1){
  width: 25%;
  height: 300px;
  /* border: 2px solid red; */
}
.footer-main div:nth-child(2){
  width: 25%;
  height: 300px;
  /* border: 2px solid red; */
}
.footer-main div:nth-child(3){
  width: 25%;
  height: 300px;
  /* border: 2px solid red; */
}
.footer-main div:nth-child(4){
  width: 25%;
  height: 300px;
  /* border: 2px solid red; */
}
.footer-main div{
  margin: 20px;
}
.footer-main div ul li{
  
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
  font-family: Roboto,"system-ui",sans-serif;
  font-size: 16px;
  font-weight: 400;

}
.footer-main div ul li:hover{
  cursor: pointer;
  color: rgb(172, 167, 167);
}
#head{
  font-size: 20px;
  font-weight: bold;
}
.bottom-footer{
width: 100%;
height: 40px;
display: flex;
background-color: #003380;
}

.bottom-footer div:nth-child(1){
width: 25%;
height: 40px;
margin-left: 20px;
color: #fff;
font-size: 16px;
font-weight: 700;
line-height: 1em;
margin-bottom: 4px;
text-transform: uppercase;
font-family: Roboto,"system-ui",sans-serif;


}

.bottom-footer div:nth-child(2){
width: 50%;
height: 30px;
color: #fff;
font-size: 16px;
font-weight: 700;
line-height: 1em;
margin-bottom: 4px;
text-transform: uppercase;
font-family: Roboto,"system-ui",sans-serif;
}

.icon{
width: 100%;
height: 40px;
background-color: #003380;
display: flex;
cursor: pointer;
}
.icon div:nth-child(1){
margin-left: 20px;
width: 25%;
height: 40px;
margin-top: -10px;
cursor: pointer;
}
.icon div:nth-child(2){
cursor: pointer;
width: 40%;
height: 40px;

}
i{
color: white;
}

#app{
display: flex;
margin-left: 10px;
gap: 10px;
}
#app div:nth-child(1) img{
margin-left: -30px;
width: 100%;
height: 100%;
}
#app div:nth-child(2) img{
margin-top: -10px;
margin-left: -30px;
width: 70%;
height: 100%;
}

.btm-footer{
width: 100%;
height: 150px;
background-color: #0a244a;
  font-family: Roboto,"system-ui",sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.btm-footer a,p{
color: white;
margin-top: 10px;
cursor: pointer;
}
.para{
width: 95%;
margin: auto;
}